<nav id="mobileView">
  <div id="burgerNav">
    <div class="burgerElem"></div>
    <div class="burgerElem"></div>
    <div class="burgerElem"></div>
  </div>
  <ul id="mobileMenu" [hidden]="!navBarOpen">
    <li><a routerLink="tripsList" class="btn btn-primary active" role="button" routerLinkActive="active">Lista wycieczek</a></li>
    <li><a routerLink="shoppingCart" class="btn btn-primary active" role="button" routerLinkActive="active">Koszyk</a></li>
    <li *ngIf="authService.isLoggedIn && authService.actualUser !== undefined && authService.actualUser !== null && (authService.actualUser.userType === 'admin' || authService.actualUser.userType === 'pracownik')">
      <a routerLink="edit" class="btn btn-primary active" role="button" routerLinkActive="active">Edytuj wycieczki</a>
    </li>
    <li *ngIf="!authService.isLoggedIn">
      <a routerLink="signIn" class="btn btn-primary active" role="button" routerLinkActive="active">Logowanie</a>
    </li>
    <li *ngIf="authService.isLoggedIn">
      <a (click)="authService.SignOut()">Wyloguj</a>
    </li>
  </ul>
  <div (click)="navBarOpen = false" *ngIf="authService.isLoggedIn" id="user-profile-mobile" routerLink="dashboard" class="btn btn-primary active" role="button" routerLinkActive="active">
    <p class="fa fa-user" aria-hidden="true"></p>
    <p>Profil</p>
  </div>
</nav>
